*{
    text-align: center;
}
body{
    margin: 0;
}
header h1{
    background-color: black;
    color: white;
    height: 100px;
}
main{
    display: flex;
    flex-wrap: wrap;
}
div{
    margin:20px;
    background-color: rgb(169, 190, 211);
    width: 30%;
    padding: 50px;
    

}
#country-detail{
    display: none;
    background-color: mediumorchid;
    
    padding: 50px;
    width: 80%;
    margin: 0 auto;
}